* {
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas-neue/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/bebas-neue/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

h1 {
  color: white;
  margin-top: 20  px;
  margin-bottom: 0px;
  font-family: 'Bebas Neue';
  font-size:60px;
}

.preEventImage {
  padding: 50px;
  width: 50%;
}

.header {
  padding-left: 10px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  width: auto;
}

.header > img {
  width: auto;
}

.subtitle {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-left: 25px;
  font-weight:bolder;
}

.content {
  padding-left: 10px;
}

.flok-image {
  display: block;
  width: 500px;
}

h2 {
  margin-bottom: 0px;
}

p {
  margin-bottom: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: auto;
  padding-top: 70px;
}

.btn, button {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #ff0000;
  color: white;
  border-radius: 6px;
  border-width: 0px;
  text-decoration: none;
  font-weight: bold;
  width: min-content;
}

.btn:hover, button:hover {
  background: #e40000;
}

.btn:active, button:active {
  background: #c80000;
}

.hljs {
  padding-bottom: 0px;
}

pre {
  margin-top: 0px; margin-bottom: 10px;
}

.codeBlock {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: min-content;
  border-color: rgb(174, 174, 174);
  border-width: 1px;
  border-style: dashed;
  padding: 10px;
}